<mat-card >
    <mat-card-title color="accent">
            <span>טפסי זכאויות</span>
    </mat-card-title>
    <mat-card-content>
        <tr>
        <td>
            <span> תלמיד יקר</span><br/>
            <span> ,שמחים אנו לבשר לך כי נמצאת זכאי</span><br/>
            <span> ,נשמח לעמוד לשירותך ולעזור בכל מה שנצרך</span><br/>
            <span> ,בשורות טובות ובדיאות איתנה</span><br/>
            <span> -להלן טפסי זכאותך</span><br/>
            <span> ...להשתמע  </span><br/>
        </td>
    </tr>
    <tr>
        <td>
            <div id="myDiv"> 
            <br/>
            <img src="../../../assets/img/IMG_1254.JPG" alt="">
            </div>
        </td>
    </tr>
        <br/>
        <td>
            <span> למימוש לחץ כאן</span><br/>
        </td>
        <br/>
        <td>
            <button mat-raised-button color="accent" (click)="print()">הדפסה</button>
        </td>
        <td>
            <button mat-stroked-button color="accent" (click)="sendToMail()">שליחת מייל</button>
        </td>
        <tr>
            <td>
                <button type="button" mat-raised-button color="accent"(click)="routeBack()">חזור</button>
            </td>
        </tr>
    </mat-card-content>
</mat-card>

