<mat-card>
        <mat-card-title>
                <span>ברוך הבא</span>
        </mat-card-title>
        <mat-card-content>
                <form>
                        <table>


                                <div>
                                        <td>
                                                <button mat-raised-button color="accent" *ngIf="checkIfManager()" (click)="GoToManager()">להוספת עובד</button>
                                        </td>
                                        <td>
                                                <button mat-raised-button color="accent" (click)="GoToUserTable()">עובדים</button>
                                        </td>
                                        <td>
                                                <button mat-raised-button color="accent" (click)="GoToMenu()">תפריט שרותים</button>
                                        </td>
                                </div>
                        </table>
                </form>
        </mat-card-content>
</mat-card>