
<mat-card>
    <mat-card-title color="accent">
        <span>רשימת עובדים </span>
    </mat-card-title>
    <mat-card-content>
        <label>: חיפוש עובד לפי ת.ז או שם או טלפון </label>
        <br>
        <input type="text" [(ngModel)]="express">
        <br>
        <table class="table table-hover" matSort (matSortChange)="sortData($event)">
            <tr>
                <th *ngFor="let c of displayedColumns" [mat-sort-header]="c">
                    {{c}}
                </th>
            </tr>
            <tr *ngFor="let u of users | searchuser:express" (click)='onSelectUser(u.User_tz)'>
                <td>{{u.User_tz}}</td>
                <td>{{u.Password}}</td>
                <td>{{u.User_name}}</td>
                <td>{{u.Last_name}}</td>
                <td>{{u.SnifId}}</td>
                <td>{{u.UserStatusName}}</td>
            </tr>
        </table>
        <button mat-raised-button color="accent" (click)="routeBack()">חזור</button>

    </mat-card-content>
</mat-card>
