<h1 mat-dialog-title>מימוש זכאויות</h1>
<div mat-dialog-content class="m-label-wrapper">
    <mat-label> השמירה התבצעה בהצלחה</mat-label>

    <mat-label>?הינך מעוניין לממש זכאויות לתלמיד זה </mat-label>

    <mat-label>בחר פעולה </mat-label>
    <mat-form-field class="footer-wrapper">

        <mat-select #option [(value)]="selected1">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let a of actions" [value]="a">
                {{a}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions class="footer-wrapper">
    <button mat-raised-button (click)="onNoClick()">לא</button>
    <button mat-raised-button color="accent" (click)="submit(selected1)">כן</button>
</div>